@{ Layout = ""; }

@model HomeoCare.Models.ViewModels.ProductUserVM


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Reach Patron</title>

    <style>
        .prod {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            .prod td, #prod th {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }

            .prod tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .prod tr:hover {
                background-color: #ddd;
            }

            .prod th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#fff" style="background-color:lightgray;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color:darkcyan; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:30px; color:#ffffff;text-align:center;">
                                <b>Reach Patron Inquiry</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        A New Inquiry has been submitted
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">



                                <tr>
                                    <td width="100%" style="color:darkslategrey; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <div style="font-size:20px; color:#564319;text-align:center;font-weight:bold;">
                                            Order Confirmation: @ViewBag.OrderID
                                        </div>
                                        <p>
                                            <span style="font-weight:bold;">Hello @ViewBag.CustomerName</span>,
                                            Thank you for your order. We’ll send a confirmation when your order ships. Your order details indicated below.
                                        </p>
                                        </br>
                                        <div style="font-size:16px; color:#525252;padding-left:15px;">
                                            <table style='width:100%' class='prod'>
                                                <tr><th>Product</th><th>Name</th><th>Price</th><th>Quantity</th><th>Total</th></tr>

                                                @foreach (Product product in Model.ProductList)
                                                {
                                                    <tr>
                                                        <td>
                                                            @{ string imgpath = Convert.ToString(ViewBag.absUrl + WC.ImagePath.Replace(@"\", "/") + product.ImagePath);
                                                    <img src="@imgpath" alt="@product.ProductName" title="@product.ProductName" class="rounded" style="width:50px;height:50px;" /> }

                                                        </td>
                                                        <td>@product.ProductName  </td>
                                                        <td> @FormatExtensions.FormatCurrency(product.SellingPrice) </td>
                                                        <td> @product.TempQty </td>
                                                        <td> @(FormatExtensions.FormatCurrency(product.SellingPrice * product.TempQty))  </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="3" style="text-align:right;">Subtotal</td>
                                                    <td colspan="2">@(FormatExtensions.FormatCurrency(ViewBag.SubTotal))</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="text-align:right;">Tax (@WC.TaxRate %)</td>
                                                    <td colspan="2">@(FormatExtensions.FormatCurrency(ViewBag.SubTotal * WC.TaxRate / 100))</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="text-align:right;">Shipping</td>
                                                    <td colspan="2">@(FormatExtensions.FormatCurrency(WC.ShippingCharges))</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="text-align:right;">Grand Total</td>
                                                    <td colspan="2">@(FormatExtensions.FormatCurrency(ViewBag.SubTotal + WC.ShippingCharges + (ViewBag.SubTotal * WC.TaxRate / 100)))</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color:darkcyan; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:36px; color:#ffffff;">
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>